/* resets */
*{
    box-sizing: border-box;
    /* padding: 0;
    margin: 0; */
    margin-bottom: 2rem;
}

body{
    font-family: sans-serif;
    height: 100%;
}
/* Global Classes */
.column{
    display: flex;
    flex-direction: column;
}
.justifyCenter{
    justify-content: center;
}

/* Custom styling */
header{
    
    align-items: center;
    padding: 2rem;

}

#gameArea{
    display: flex;
    justify-content: space-between;
    width:90%;
    margin: auto;
}
#imageSec{
    width: 25%;
}
#hMan {
    width: 275px;
    height: 330px;
/* text-align: center; */
}
#wordSec{
    width: 75%;
    display: flex;
    /* justify-content: center; */
    align-items: flex-end;
    
}
.letter{
    border: 2px solid black;
    width: 1em;
    font-size: 6rem;
    padding: .3rem;
    margin: 0 .7rem;
    text-transform: capitalize;
    text-align: center;
    color: white;
}

.correct{
    /* /* background: blue; */
    color: black; 
    
}





